.card_welcome {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.card_welcome img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
} 

.card_welcome-content {
  padding: 15px;
}

.card_welcome-content h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card_welcome-content p {
  font-size: 1rem;
  color: #555;
}
