.card_welcome-container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row_welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .col-sm-6 .left{ 
    flex-basis: 48%;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .col-sm-6 .right{
    flex-basis: 48%;
    margin-bottom: 10px;
    padding-right: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .col-sm-6 {
      flex-basis: 100%;
    }
  }
  .Link {
    text-decoration: none;
  }